*{
     margin:0;
    padding:0;
    box-sizing: border-box;    
}
body{
        background-color: white;
        color: black;
        font-family: 'Segoe UI', Arial, sans-serif;
        min-height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        
}
.stopwatch-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    width: 100%;
}

#plus-btn {
    order: 1;
    font-size: 5rem;
    font-weight: bold;
    color: Black;
    margin: 0;
    padding: 0;   
    border: none;
    cursor: pointer;
}

#time-display {
    order: 2;
    font-size: 8rem;
    color: Black;
    font-weight: bold;
    letter-spacing: 10px;
    margin: 0;
    padding: 0;
}

#minus-btn {
    order: 3;
    font-size: 5rem;
    font-weight: bold;
    color: Black;
    margin: 0;
    padding: 0;    
    border: none;
    cursor: pointer;
}


#plus-btn, #minus-btn, #time-display {
    line-height: 1;
}

#reset-btn {
    font-size: 2.5rem;
    color: Black;    
    border: none;
    font-weight: bold;
    cursor: pointer;
    position: absolute;
    bottom:120px;
    left:560px;
}

#start-btn {
    font-size: 2.5rem;    
    color: Black;
    border: none;
    font-weight: bold;
    cursor: pointer;
    position: absolute;
    left: 180px;
    top:120px;
}

#stop-btn {
    font-size: 2.5rem;    
    color: Black;
    border: none;
    font-weight: bold;
    cursor: pointer;
    position: absolute;
    right: 180px;
    top:120px;
}

#lap-btn {
    font-size: 2.5rem;    
    color: Black;
    border: none;
    font-weight: bold;
    cursor: pointer;
    position: absolute;
    left: 576px;
    bottom:15px;
}

    @media (max-width: 900px) {

    .stopwatch-container {
        flex-direction: column;
        gap: 20px;
    }

    #time-display {
        font-size: 4rem;
        letter-spacing: 5px;
    }

    #plus-btn,
    #minus-btn {
        font-size: 3rem;
    }

   
    #start-btn,
    #stop-btn,
    #reset-btn,
    #lap-btn {
        position: static;
        font-size: 1.8rem;
        margin: 10px 0;
    }

    
    .controls {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

